 {% extends 'main.html' %} 
 {% comment %} {% include 'cart_details.html' %}
 {%  include 'product_list' %} {% endcomment %}
 {%  load static %}
 
 {% block content %}
 
 
 <style>
       .home-container{
           display:grid;
           grid-template-columns: 1fr 4fr;
       }
       

        .Details {
            display: block;
            margin-top: 10px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .Update {
            display: block;
            margin-top: 10px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
        }
    
        .Delete {
            display: block;
            margin-top: 10px;
            background-color:rgba(255, 7, 7, 0.879);
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .add-to-cart {
            display: block;
            margin-top: 10px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
        }
   </style>
   


 <div class= "home-container" >
 <div>
        {% include 'base/categories.html' %}
    </div>

    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        
            {% for product in products %}
        <div>
            <a href=" {% url 'image-view' product.id %}">
            <img src="{{product.image.url}}" alt="" width="300" height="300">
            </a>
            <p>{{product.name}}</p> 
            <p>Price: ${{product.price}}</p>
            <div>
                {% if request.user == product.seller %}
            {% comment %} <a class="Details" href="{% url 'product-description' product.id %}">Details </a> {% endcomment %}
            <a class="Update" href="{% url 'product-update' product.id %}">Update </a>
            <a class="Delete" href="{% url 'product-delete' product.id %}">Delete </a>
            {%else%}  
            <br> 
            <a class="add-to-cart" href="{% url 'add-to-cart' product.id %}"> Add to cart</a> 
            <a class="Details" href="{% url 'product-description' product.id %}">Details </a> 
            {% comment %} <a href="{% url 'add-to-cart' product.id %}"> Add to cart</a>     {% endcomment %}
            {% endif %}
           
        </div>
        </div>
        
         {% endfor %} 
    </div> 
    </div>
 {% endblock content %}

